body {
  background-image: url("background.png");
  font-family: sans-serif;
  font-size 14px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  background-color: #008661;
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.questionContainer span {
  width: 100%;
  margin: 0 0 15px;
}

.questionContainer a {
  color: white;
}

#question {
  font-size: 18px;
}

@keyframes color-transition {
  from {color: white;}
  to {color: yellow;}
}

#response {
  font-size: 32px;
  animation: color-transition 750ms infinite linear;
}

#signature {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px;

}

#signature a {
  color: #008661;
  font-weight: bold;
}

.lastUpdatedAtContainer {
  background: white;
  margin: 40px 0 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

